# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/

# PDF Output
*.pdf

# Config
.config/
/evidencia_output.pdf

# Empaquetado
dist/
packaging/.cache/
